@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: white !important;
    caret-color: white;

    -webkit-box-shadow: 0 0 0 1000px #121212 inset !important;
    box-shadow: 0 0 0 1000px #121212 inset !important;

    transition: background-color 9999s ease-in-out 0s;
}

::selection {
  background: rgba(255, 255, 255, 0.16);
  color: #fff;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #3f3f46 transparent;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #3f3f46;
    border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
    background: #52525b;
}

/* Horizontal + vertical scrollbar corner */
::-webkit-scrollbar-corner {
    background: transparent;
}

a,
button,
input,
textarea,
select {
  -webkit-tap-highlight-color: transparent;
}

a:focus,
button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

a:focus-visible,
button:focus-visible,
input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  outline: none;
}
