@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: white !important;
    caret-color: white;

    -webkit-box-shadow: 0 0 0 1000px #3b3449 inset !important;
    box-shadow: 0 0 0 1000px #3b3449 inset !important;

    transition: background-color 9999s ease-in-out 0s;
}